<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<!--  http://localhost:5000 -->

<head>
  <meta charset="UTF-8">
  <title>Receptiveness feature extraction</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

</form>

  <div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="container">
                <div id="identitycard" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Extract receptiveness features</div>
                        </div>
                          <div class="panel-body">


                            <div>
                                <p>
                                  {% with messages = get_flashed_messages(category_filter=["category1"]) %}
                                   {% if messages %}
                                    {% for message in messages %}
                                      <div>
                                        <div class="alert alert-success">
                                        <strong>{{ message }}</strong>
                                      </div>
                                    {% endfor %}
                                   {% endif %}
                                 {% endwith %}
                               </p>
                              </div>
<body>

 <div >

     <!-- Main Input For Receiving Query -->

    <div class="row" style="padding: 10px 15px 9px;">
    </div>
    </div>

     <form action="/extract_features" method="post">

        <div ><textarea name="text" cols="55" rows = "5"> Enter some text...
        </textarea>
        <br />
        <input type="submit" />
    </form>



    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>